.container-form {
    margin: 20vh auto;
    width: 400px;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    -webkit-box-shadow: 3px 0px 24px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 0px 24px -5px rgba(66, 68, 90, 1);
    box-shadow: 3px 0px 24px -5px rgba(66, 68, 90, 1);

    @media (width <=450px) {

        width: 90%;

    }

}

.input {
    padding: 18px;
    width: 100%;
    border-radius: 1px;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

    &:focus {
        outline: none;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button {
    padding: 15px;
    width: 120px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(75, 75, 171);


}

.button:hover {

    cursor: pointer;

}